- provide(:title, t('.sign_in') )
%h1= t('.sign_in')

.row
  .span6.offset3
    = form_tag sessions_path do
      = label_tag :email, t('.email')
      = text_field_tag :email

      = label_tag :password, t('.password')
      = password_field_tag :password

      = submit_tag t('.sign_in'), class: "btn btn-large btn-primary"

    %p
      = t('.new_user')
      = link_to t('.sign_up'), signup_path