= render 'shared/error_messages', object: f.object
= f.input :name
= f.input :email
= f.input :password
= f.input :password_confirmation
= f.button :submit, button_label, class: "btn btn-large btn-primary"