= provide(:title, t('.edit_user'))
%h1= t('.update_profile')
.row
  .span6.offset3
    = simple_form_for(@user, html: {class: 'form-vertical' }) do |f|
      = render 'fields', f: f, button_label: t('.save_changes')
    = gravatar_for @user
    = link_to t('.change'), gravatar_link, target: "_blank"