- provide(:title, @user.name)
.row
  %aside.span4
    %section
      %h1
        = gravatar_for @user
        = @user.name
  .span8
    - if @user.microposts.any?
      %h3= t('.microposts', count: @user.microposts.count) 
      %ol.microposts
        = render @microposts
      = will_paginate @microposts