%li{ id: feed_item.id }
  = link_to gravatar_for(feed_item.user), feed_item.user
  %span.user= link_to feed_item.user.name, feed_item.user
  %span.content= wrap(feed_item.content)
  %span.timestamp
    = t('.time_posted_ago', time: time_ago_in_words(feed_item.created_at) )
  - if current_user?(feed_item.user)
    = render 'shared/delete_micropost', micropost: feed_item