%li
  = best_in_place(micropost, :content, type: :textarea,
                             path: micropost_path(micropost))
  %span.timestamp
    = t('.time_posted_prefix')
    %time<
      = timeago_tag(micropost.created_at)
      = t('.time_posted_suffix')
  - if current_user?(micropost.user)
    = render 'shared/delete_micropost', micropost: micropost