%footer.footer
  %small
    = link_to t('.rails_tutorial'), "http://railstutorial.org"
    = t('.author')
  %nav
    %ul
      %li= link_to t('.about'),   about_path
      %li= link_to t('.contact'), contact_path
      %li= link_to t('.news'),    "http://news.railstutorial.org/"