%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('.sample_app'), locale_root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li= link_to t('.home'), locale_root_path
          %li= link_to t('.help'), help_path
          - if signed_in?
            %li= link_to t('.users'), users_path
            %li#fat-menu.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                = t('.account')
                %b.caret
              %ul.dropdown-menu
                %li= link_to t('.profile'),  current_user
                %li= link_to t('.settings'), edit_user_path(current_user)
                %li.divider
                %li= link_to t('.sign_out'), signout_path, method: :delete
          - else
            %li= link_to t('.sign_in'), signin_path
          %li= render 'layouts/locale_selector',
                      controller: controller,
                      action: action

