%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('.sample_app'), locale_root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          %li
            = link_to locale_root_path do
              %i.icon-home
              = t('.home')
          %li
            = link_to help_path do
              %i.icon-question-sign
              = t('.help')
          - if signed_in?
            %li
              = link_to users_path do
                %i.icon-user
                = t('.users')
            %li#fat-menu.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", href: "#"}
                %i.icon-briefcase
                = t('.account')
                %b.caret
              %ul.dropdown-menu
                %li
                  = link_to current_user do
                    %i.icon-edit
                    = t('.profile')
                %li
                  = link_to edit_user_path(current_user) do
                    %i.icon-cogs
                    = t('.settings')
                %li.divider
                %li
                  = link_to signout_path, method: :delete do
                    %i.icon-signout
                    = t('.sign_out')
          - else
            %li
              = link_to signin_path do
                %i.icon-signin
                = t('.sign_in')
          = render 'layouts/locale_selector',
                    controller: controller,
                    action: action

