-# navbar and container classes have special meaning in Bootstrap
%header.navbar.navbar-fixed-top
  .navbar-inner
    .container
      = link_to t('.sample_app'), root_path, id: "logo"
      %nav
        %ul.nav.pull-right
          = render 'layouts/locale_selector'
          %li= link_to t('.home'),    root_path
          %li= link_to t('.help'),    help_path
          %li= link_to t('.sign_in'), '#'