!!! 5
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = timeago_script_tag
    = csrf_meta_tags
    = render 'layouts/shim'
    = render 'layouts/i18n_js'
  %body
    = render 'layouts/header',
             controller: @redirect_controller,
             action: @redirect_action
    .container
      - flash.each do |key, value|
        = content_tag(:div, value, class: "alert alert-#{key}")
      = yield
      = render 'layouts/footer'
      - if Rails.env.development?
        = debug(params)
        =# debug(instance_variables)